<?xml version="1.0" encoding="UTF-8"?>
<form>

	<field name="interval" type="number" min="10" max="120000"
		default="7000"
		label="Interval (sec)"
		description="Wait time until the next slide change" />

	<field name="speed" type="number" min="10" max="60000"
		default="800"
		label="Speed (sec)"
		description="Duration of a slide change" />

	<field name="autoplay" type="list" default="1" filter="integer"
		label="autoplay"
		description="Start slider automatically on load">
		<option value="1">JYES</option>
		<option value="0">JNO</option>
	</field>

	<field name="pauseOnHover" type="list" default="1" filter="integer"
		label="pauseOnHover"
		description="Determines whether to pause autoplay on mouseover or not">
		<option value="1">JYES</option>
		<option value="0">JNO</option>
	</field>

	<field name="gap" type="trim" default="0px" label="gap"
		description="The gap between slides. The CSS format is acceptable, such as 1em or 5px. Do NOT use pure numbers, such as 0 or 5! Use 0px or 5px instead!"/>

	<field name="arrows" type="list" default="0" filter="integer"
		label="arrows"
		description="Show arrows for pagination">
		<option value="1">JYES</option>
		<option value="0">JNO</option>
	</field>

	<field name="width" type="trim" default="" label="width"
		description="The slider MAX width, accepting CSS formats such as 10em, 80vw, 65%, 100%, 650px and so on. Do NOT use pure numbers, such as 65 or 650! Leave empty for no maximum width."/>
</form>
